* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: transat-text, sans-serif;
  user-select: none;
}

html,
.wrapper,
.router,
#app {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
